<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <br /><br /><br /><br />
    <section class="container">
        <form #forgotpasswordForm="ngForm" (ngSubmit)="forgotpasswordSubmit(forgotpasswordForm.value)" novalidate>
            <header>
                <h2>Forgot Password</h2>
            </header>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control" name="emailId" ngModel required
                        pattern="[a-zA-Z0-9._%+-]+@gmail\.com$" minlength="11" maxlength="40" placeholder="Email" />
                </div>
                <div *ngIf="forgotpasswordForm.controls['emailId'].errors?.['required'] && forgotpasswordForm.controls['emailId'].touched"
                    class="error-message">Please Enter Email-Id</div>
                <div *ngIf="forgotpasswordForm.controls['emailId'].errors?.['pattern'] && forgotpasswordForm.controls['emailId'].touched"
                    class="error-message">Please Enter a Valid Email-Id</div>
            </div>
            <button [disabled]="!forgotpasswordForm.valid" class="btn btn-primary">Submit</button>
        </form>
    </section>
</body>
</html>